.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.card-titleCart {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}
#imageCardsDetail {
  width: 300px;
  height: 200px;
}
.card-priceCart {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  margin-top: 5px;
}
#trash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#iconTrash {
  width: 23px;
  height: 23px;
}
