#titleAccesories {
  margin-top: 100px;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#drawerAccsessories {
  margin-top: 300px;
  margin-bottom: 100px;
}
.photoAccessories {
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
}
#SepAccessories {
  margin-bottom: 70px;
}
