#textCartDetail {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  margin: 20px 0;
}
.loadingCartDetail {
  margin-left: 100px;
  margin-top: 50px;
}
#CardProducto {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto; 
}
.product-card {
  width: 30%; 
  margin: 0 5px; 
  box-sizing: border-box;
  padding: 10px;
}
.details-column {
  width: 40%;
  padding: 10px;
}
#titleCartDetail{
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  margin-top: 10px;
}
