#textCartDetail {
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 24px;
    margin: 20px 0;
  }
  
  .loadingCartDetail {
    margin-left: 100px;
    margin-top: 50px;
  }
  
  #CardProducto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: left; 
  }

.product-card {
    width: calc(30% - 10px); 
    margin-right: 10px; 
    box-sizing: border-box;
    padding: 10px;
  }
  

  .product-card:nth-child(4n) {
    margin-right: 0;
  }
  
 
  .details-column {
    width: calc(40% - 10px); 
    padding: 10px;
  }
  

