#textCartDetail {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin-top: 100px;
}
.loadingCartDetail {
  margin-left: 100px;
  margin-top: 50px;
}
#CardProducto {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.product-card {
  width: 30%;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 10px;
}
.details-column {
  width: 40%;
  padding: 10px;
}
#titleCartDetail {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin-top: 30px;
  margin: 0 auto;
}
#textEmptycart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  margin-top: 100px;
}
#btnEmptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#separator {
  margin-bottom: 50px;
}
#invoiceDetail {
  margin-top: 20px;
}
