#heros {
  margin-left: 13px;
  margin-right: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 0px;
}
.photoProducts {
  width: 800px;
  height: 260px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
}
