.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.range {
  width: 250px;
  margin-left: 2px;
  margin-top: 10px;
}
#numberRange{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}
