#menu2 {
  width: 400px;
  margin-right: 40px;
}
.titleDrawer {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#imputPrice {
  width: 245px;
}
.titlePlataformDrawer,
.titleRankingDrawer,
.titlePriceDrawer,
.tittleFormaDrawer,
.tittleConditionDrawer {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#btnDrawer {
  margin-top: 20px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.custom-checkbox.selected {
  color: gray;
}
#InfoDrawer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#btnDrawerClean {
  margin-left: 10px;
}
#BtnsDrawers {
  margin: 0 auto;
}
